#copyright{
  padding-top:8px;
  font-size: small;
  text-align: center;
}

.card{
    opacity:0.8
  }
.card:hover{
opacity:1;
cursor: pointer;
}
.topContainer{
  display:flex;
  justify-content: space-between;
}
.filterContainer{
  display:flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

